@import "tailwindcss";

@theme {
  --color-primary: #0a0a0a;
  --color-primary-light: #1f1f1f;
  --color-secondary: #ffffff;
  --color-gray-soft: #f5f5f5;
  --color-gray-border: #e0e0e0;
  --color-text-muted: #6b6b6b;

  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
}

body {
  background: var(--color-secondary);
  color: var(--color-primary);
}